.mapPage {
  display: flex;
  flex-direction: column;
}

.mapWrapper {
  margin-top: 1.5rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  height: 550px;
  z-index: 1;
}

.map {
  width: 100%;
  height: 100%;
}

.mapSkeleton {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

@media (max-width: 1024px) {
  .mapWrapper {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .mapWrapper {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    height: calc(100vh - 134px);

    position: relative;
  }
  .map {
    height: 100% !important;
  }
}
