.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
}

.line {
  height: 16px;
  width: 100%;
}

.lineShort {
  height: 16px;
  width: 60%;
}

.lineMedium {
  height: 16px;
  width: 80%;
}
