.input {
  width: 100%;
  padding: 12px 14px;

  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border);

  font-size: 0.9rem;
  background-color: #f9fafb;

  transition: all 0.15s ease;
}

.input:focus {
  background-color: #ffffff;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.15);
  outline: none;
}
